<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Second Bit, LLC. - Untapped Potential</title>

		<meta name="description" content="Second Bit LLC is an application development company with a range of services including mobile apps, web applications, browser integration, real-time applications, integrated APIs, and open source software." />
		<meta name="keywords" content="app, application, android, open source, development, software, mobile, web, api, ios" />

		<link rel="shortcut icon" href="/images/favicon.ico" />
		<link rel="stylesheet" href="/style/main.css" type="text/css" media="screen" />
	
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		<script type="text/javascript" src="/js/jquery.cycle.lite.1.0.min.js"></script>
		<script type="text/javascript">
			var projects = {
				{% for project in projects %}
				"project-{{ project.url|addslashes }}" : {
					"name" : "{{ project.name|addslashes }}",
					"excerpt" : "{{ project.excerpt|addslashes }}",
					"url" : "{{ project.url|addslashes }}",
					{% if project.featured_link %}
					"link" : {
						"url" : "{{ project.featured_link.url|addslashes }}",
						"title" : "{{ project.featured_link.title|addslashes }}",
						"value" : "{{ project.featured_link.name|addslashes }}"
					}
					{% endif %}
				},
				{% endfor %}
			};

			function onTransition() {
				current = this.id;
				$('#project-excerpt').html(projects[current].excerpt);
				$('#project-name').html(projects[current].name);
				$('#project-button').attr("href", "/projects/" + projects[current].url);
				if(projects[current].hasOwnProperty('link')){
					$('#project-link').attr("href", projects[current].link.url);
					$('#project-link').attr("title", projects[current].link.title);
					$('#project-link').html(projects[current].link.value);
					$('#project-link').show();
				}else{
					$('#project-link').hide();
				}
			}
			$(document).ready(function () {
					$('.featured-image').cycle({after: onTransition});
			});
		</script>
		<style type="text/css">
			{% for service in services %}
			#services .service-icon-{{ service.url }} { background: url('/services/{{ service.url }}/icon') no-repeat top left; }
			{% endfor %}
		</style>
	</head>
	
	<body>

		<!-- Header & Navigation -->
		<div id="header">
			<div id="header-inner" class="inner-container">
				<h1 id="logo"><a href="/">Second Bit, LLC.</a></h1>	
				<ul id="main-nav">
					{% for link in menu %}
					<li><a href="{{ link.url }}" title="{{ link.title }}"><span>{{ link.name }}</span></a></li>
					{% endfor %}
				</ul>
			</div> <!-- #header-inner -->
		</div> <!-- #header -->

		<!-- Subheader & Featured -->
		<div id="subheader">
			<div id="subheader-inner" class="inner-container home-featured">
				<div style="padding: 0px; margin: 0px;">
					<h2 id="project-name">{{ projects.0.name }}</h2>
					<p class="featured-text" id="project-excerpt">{{ projects.0.excerpt }}</p>
		
					<div class="featured-image">
						{% for project in projects %}
						<img src="/image/{{ project.screenshot.shortname }}" id="project-{{ project.url }}" alt="{{ project.name }} Screenshot" />
						{% endfor %}
					</div> <!-- .featured-image -->

					<a href="/projects/{{ projects.0.url }}" class="featured-btn view-project" id="project-button" style="position: absolute; bottom: -20px;">View Project</a>
					{% if projects.0.featured_link %}
					<a href="{{ projects.0.featured_link.url }}" class="featured-btn" id="project-link" style="position: absolute; bottom: -20px; left: 150px;" title="{{ projects.0.featured_link.title }}">{{ projects.0.featured_link.name }}</a>
					{% else %}
					<a href="#" class="featured-btn" id="project-link" style="position: absolute; bottom: -20px; left: 150px; display: none;"></a>
					{% endif %}
				</div>

				<!--<div style="padding: 0px; margin:0px;">
					<h2>{{ project.name }}</h2>
					<p class="featured-text">{{ project.excerpt }}</p>

					<div class="featured-image">
						<img src="/image/{{ project.screenshot.shortname }}" alt="{{ project.title }} Screenshot" />
					</div>

					<a href="/projects/{{ project.url }}" class="featured-btn view-project">View Project</a>
					{% if project.featured_link.url %}
					<a href="{{ project.featured_link.url }}" title="{{ project.featured_link.title }}" class="featured-btn">{{ project.featured_link.name }}</a>
					{% endif %}
				</div> -->
			</div> <!-- #subheader-inner -->
		</div> <!-- #subheader -->

		<!-- Services List -->
		<div id="main-content">
			<div id="main-content-inner" class="inner-container">
				<h2>Here's what we do.</h2>
				<p>With a list of services this long, I'm sure there's something we can help you with. <a href="/services">And this isn't all we do</a>.</p>
	
				<ul id="services"><!--
					<li class="mobile onethird">
						<h3>Mobile Applications</h3>
						<p>With support for iOS, Android, and mobile web applications, we can put you in your customers' pockets.</p>
					</li>
				
					<li class="web onethird thirds-middle">
						<h3>Web Applications</h3>
						<p>We have experience with most major programming languages and frameworks, and plenty of minor ones. We can build a product for your servers, for your budget.</p>
					</li>

					<li class="browser onethird">
						<h3>Browser Integration</h3>
						<p>As more and more applications become web applications, the browser is getting more and more important to your customers. We can give you a native presence in their browser of choice.</p>
					</li>
		
					<li class="realtime onethird">
						<h3>Real-time Applications</h3>
						<p>With more and more access to the Internet, your customers have come to expect faster and faster notifications. We can help you get your content to their eyes in real-time, using Web Sockets and other new technologies.</p>
					</li>
		
					<li class="api onethird thirds-middle">
						<h3>Integrated APIs</h3>
						<p>Whether your customers are using Twitter, Facebook, Google, or even your own custom application, we can provide deep integration to make their experience as smooth as possible.</p>
					</li>
		
					<li class="opensource onethird">
						<h3>Open Source Software</h3>
						<p>We're huge fans of Open Source Software, and use it for most our business software. When we're not doing client work, we also build software and applications, released under open source licenses. <a href="#">Find a list here</a>.</p>
						</li>-->
					{% for service in services %}
					<li class="service-icon-{{ service.url }} onethird {% cycle thirds-left,thirds-middle,thirds-right %}">
					<h3><a href="/services/{{ service.url }}" title="More information about {{ service.title }}">{{ service.title }}</a></h3>
						<p>{{ service.excerpt }}</p>
					</li>
					{% endfor %}
				</ul>
			</div> <!-- #main-content-inner -->
		</div> <!-- #main-content -->

		<!-- Footer -->
		<div id="footer">
			<div id="footer-inner" class="inner-container">
				<div class="twothirds">
					<h4>A bit about us</h4>
					<p class="about-footer">Second Bit, LLC was founded in the Fall of 2010 with the central guiding goal of "let's make cool stuff". Since then, we've released products that have reached thousands of people and been covered by publications from the niche to the well-known. We believe in open source, freely available software, and work hard to Do The Right Thing.<br />
					<a href="/about">Learn more</a>.</p>
				</div> <!-- .twothirds -->
			
				<div class="onethird">
					<h4>Meet the Team</h4>
				
					{% for person in people %}<p class="team-footer">
						<img src="/image/{{ person.avatar_thumb.shortname }}" alt="{{ person.name }}" />
						<a style="color: #60727E;" href="/team/{{ person.url }}" title="{{ person.name }}'s Profile">{{ person.name }}</a>
						<span>{{ person.role }}</span>
					</p>{% endfor %}
				</div> <!-- .onethird -->
			
				<div id="copyright">
					<p>Copyright &copy; 2010 Second Bit, LLC.</p>
				</div> <!-- #copyright -->
			</div> <!-- #footer-inner -->
		</div> <!-- #footer -->
	</body>
</html>
